<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Email: {{ app.user.email }}</p>
            <a class="button button-outline" href="{{ path('account') }}">My account</a>
            <a class="button button-outline" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="button button-outline" href="{{ path('app_login') }}">Login</a>
            <a class="button button-outline" href="{{ path('app_register') }}">Create account</a>
        {% endif %}
        <ul>
            <li>
                <a href="{{ path('home') }}">Home</a>
            </li>
        </ul>
    </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
